@font-face {
    font-family: "gohu";
    src: url("../fonts/gohu.woff2") format("woff2"),
        url("../fonts/gohu.woff") format("woff"),
        url("../fonts/gohu.woff") format("truetype");
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'gohu', sans-serif;
}

:root {
    font-family: 'gohu', sans-serif;
}

body {
    font-family: 'gohu', sans-serif !important;
}

input {
    font-family: 'gohu', sans-serif !important;
}

button {
    font-family: 'gohu', sans-serif !important;
}
*::-webkit-scrollbar {
    height: 15px;
}

*::-webkit-scrollbar-track {
    background: #110d0d00;
}

*::-webkit-scrollbar-thumb {
    background-color: #241818;
    border-radius: 10px;

    border: 5px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
}

*::-webkit-scrollbar-thumb:hover {
    background-color: #241818;
}
